body, html{
    height:100%;
    margin:0;
    font-family:'Open Sans', sans-serif !important;
}

.title-widget, h1, h2, h5, h4, .services-section.services-card.card-title .news.news-card.news-title{
    font-family: 'Lato', sans-serif !important;
}


/* STICKY NAV */
.navbar-brand-left {
    display: inline-block;
    margin: 0;
    padding-left: 10px !important;
    padding-top: 12px !important;
    /* line-height: @navbar-height; */
}

.navbar-attorney {
    position: -webkit-sticky;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
  }


/* HERO */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) { 
    /* styles for Retina-type displays */
}


.header__text-box{
    text-align: left;
    background-image: url("../images/amanda_froh_hero.jpg"); 
    background-size: 100%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */

}

.header-text {
    padding-left: 10%;
    padding-top: 5%;
}

.heading-primary{ 
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 8rem;
    font-family: 'Lato', sans-serif;
} 

.heading-primary--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 0.75rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease out;
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    animation: moveInRight 1s ease-out;
}


/* ANIMATIONS */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    0% /* when animation starts */{
        opacity: 0;
        transform: translateX(1rem);
    }

    80% {
        transform: translateX(-1rem); 
    }

    100% /* when animation finishes */{
        opacity: 1;
        transform: translate(0);
    }
}


/* PRIMARY BUTTONS */
.btn.btn-circle { 
    border-radius: 50px; 
    background-color: transparent !important;
}
.btn.btn-primary{ 
    border-radius: 50px; 
    border:1px solid #d9534f; 
    background-color: transparent; color:#d9534f; 
}
.btn.btn-secondary{ 
    border-radius: 50px; 
    border:1px solid #d9534f; 
    background-color:#d9534f; color: #fff; 
}

.team-btn a:hover,
.header__text-box.header_text.header-btn a:hover{
    background-color: transparent;
    border-color: #d9534f;
    color: #d9534f;
}


/* ARROWS */
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f9f9f9;
    position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  }

.arrow-team {
    position: absolute;
    top:0;
    color:white;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
}

#team
.news
.services-section {
    padding: 60px 0px !important;
}

/* SERVICES */
.services-section {
    background-color: #f9f9f9;
}

.services-card-text {
    color: #696969 !important;
}

.section-description {
    color:#696969;
}

.services-card{
    padding: 20px;
    background: #fff !important;
    margin:20px auto;
    /*box-sizing: border-box;*/
    height: 400px;
    /* width: 300px !important;  */
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}


/* NEWS */
.news ul li {
    list-style-type: none;
    color: #696969;
}

.news ul li a {
    color: #696969;
}


/* TEAM */
#team {
    background: #f9f9f9 !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #d9534f !important;
    border-color: #d9534f !important;
    box-shadow: none;
    outline: none;
    color:white !important;
    cursor:pointer;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: black;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.section-description {
    text-align: center;
    margin-bottom: 30px;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
    padding: 15px;
    width: 300px;
    margin-right: 20px;
}

.backside .card a {
    font-size: 1.25rem;
    color: #d9534f;
    border-radius: 1px solid d9534f;
    background-color: transparent;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: black !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 20px;
}


